
.centrar{
    justify-items: center;
    text-align: center;
    align-items: center;
}

.a-header{
    text-decoration: none;
    font-weight: bold;
    color:white;
    
}

.cinco{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}

body{
display: grid;
margin: 0;
grid-template-rows: min-content auto min-content;  
font-family: Arial, Helvetica, sans-serif;


}
.nav-header{

background-color:rgb(246, 94, 61);
--img1: scale(1);
--img2: scale(0);
color: white;

}
/* Dropdown */
.dropdown-header {
    position: relative;
    display: inline-block;
    width: 70%;
  }
  
  .dropdown-btn-header {
    background-color: inherit;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  
  .dropdown-content-header {
    display: none;
    list-style: none;
    position: absolute;
    
    background-color: rgb(246, 94, 61);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
    text-align: center;
  }
  
  .dropdown-content-header a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 200px;
  }
  
  .dropdown-content-header a:hover {
    background-color: rgb(247, 110, 79);
    border-radius: 10px;
  }
  
  .dropdown-header:hover .dropdown-content-header {
    display: block;
  }
  .mitad-header{
    align-items: center;
    font-size: 16px;
    display: grid;
    grid-template-columns: 75% 25%;
    font-weight: bold;
  }
@media (max-width: 1024px){
    .header--oculto-pc{
        display: none;
    }
}