@media(max-width: 400px){
        body{
            font-size: 12px;
        }
}


@media (max-width: 1024px) {
    

html, body{
    height: 100%;
    margin: 0;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    margin: 0;
    grid-template-rows: min-content auto min-content;  
    font-family: Arial, Helvetica, sans-serif;
    
}


.nav-movil{
    
    background-color:rgb(246, 94, 61);
    --img1: scale(1);
    --img2: scale(0)
}
nav:has(.dropdown_movil:target){
    --img1: scale(0);
    --img2: scale(1);

    --clp:inset(0 0 0 0);
}

.nav__container{
    width: 90%;
    margin: 0 auto;
    height: 70px;
    position: sticky;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-areas: "logo name img";
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.nav__logo{
    grid-area: logo;
}
.nav_name{
    grid-area: name;
    color: white;

}
.nav_name_list{
    grid-area: name;
    
}
.nav__menu {
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__icon{
    width: 24px;
    display: block;
}
.nav__menu--second{
    transform: var(--img2);
}

.dropdown_movil{
    
    position: absolute;
    background-color: rgb(246, 94, 61);
    width: 75%;
    top: 0;
    right:0;
    bottom: 0;
    z-index: 1;
    padding: 1em;
    display: grid;
    align-content: center;

    clip-path: var(--clp, inset(0 0 100% 100%));
    transition: clip-path 0.8s;
    z-index:3;
}
.dropdown__list{
    list-style: none;
    
    
}
.dropdown__link{
    color: white;
    padding: 1em .7em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .4rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate:rotate(180deg);
    --bg: rgb(255,218,210);
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate,0);
    transition: .2 transform;
}
 
.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    
}

.dropdown__content{
    
    display: grid;
    background-color: rgb(255,218,210);
    border-bottom-right-radius:  6px;
    border-bottom-left-radius:  6px;
    grid-template-rows: var(--rows, 0fr);
    transition:  0.7s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;
}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: black;
    text-decoration: none;
}

}
@media (min-width: 1024px){
    .oculto--header{
        display: none;
    }
}