.centrar{
   
    justify-items: center;
    text-align: center;
    align-items: center;
}
.margen{
    margin: auto;
}
footer{
    left: 0;
    width: 100%;
    bottom: 0;
}
@media (max-width: 1024px) {    /* Movil */
   


.nav-footer-movil {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background-color: rgb(246, 94, 61);
    --img1: scale(1);
    --img2: scale(0);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
  
}
.divs-footer{
    display: grid;
    grid-template-columns:  33.3% 33.3% 33.3%;
}
.div-footer-columns{
    display: grid;
    grid-template-rows: 50% 50%;
}
.footer--oculto-pc {
    display: none;
}
}
@media (min-width: 1024px){ /* Pc */
    .cinco-footer {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20% 20%;
    
    }
    
    .nav-footer-pc {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
        background-color: rgb(246, 94, 61);
        --img1: scale(1);
        --img2: scale(0);
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .mitad{
        display: grid;
        grid-template-columns: 96% 4%;
    }


    .oculto--footer{
        display: none;
    }
}